@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  overflow-x: hidden;
}
.App {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
.hidden-scrollbar::-webkit-scrollbar {
  visibility: hidden;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
